extends layout

block content
  .well.content-well
    h1 What is this site?
    p This site is a collaborative online jukebox.  It's a way to listen to music with your friends.  It's also a blatant fork of a wonderful <a href="http://github.com/martindale/soundtrack.io">open-source</a> project.  Please give credit there first. Our fork is also located at github: <a href="http://github.com/jdchmiel/soundtrack.io">open-source</a> but chances are martindale/soundtrack.io is a better choice for you.
    P You can also consider donating at <a href="https://soundtrack.io/about">soundtrack.io</a> 
    h2 How does it work?
    p When you first visit this site, you'll be listening to the "current playlist".  You (and anyone else) can add a song of your choosing to the end of the current playlist.
    p Users can also vote to influence the order of songs on the list (or remove them entirely), which helps keep a smooth flowing transition between songs.
    p for help with emoji codes check out: <a href="http://www.emoji-cheat-sheet.com">cheat sheet</a>
    
